$main: #01d0d7;
$dark_main: #00979c;
$gray: #b4b4b4;
$dark: #003b63;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}
